html, body {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    font-family: "微软雅黑";
    color: #2b333f;
    user-select: none;
    -webkit-app-region: drag;
}

p, h1, h2, h3 {
    margin: 0;
    padding: 0;
}

.close {
    position: absolute;
    right: 4px;
    top: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    -webkit-app-region: no-drag;
    background: url("images/close.png") center center no-repeat;
    background-size: 20px 20px;
}

.update-layout {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    display: none;
}

.title {
    margin-bottom: 10px;
}

.version-info {
    margin-bottom: 16px;
}

.version-info .old-version {
    margin-right: 26px;
}

.version-info .version {
    color: #fc6238;
}

.description {
    width: 100%;
    height: 90px;
    padding: 4px;
    box-sizing: border-box;
    overflow-x: hidden;
    -webkit-app-region: no-drag;
}

.description::-webkit-scrollbar {
    width: 10px;
    height: 100%;
}

.description::-webkit-scrollbar-thumb:vertical { /*垂直滚动条的样式*/
    height: 50px;
    background-color: #999;
    -webkit-border-radius: 4px;
    outline: 2px solid #fff;
    outline-offset: -2px;
    border: 2px solid #fff;
}

.description::-webkit-scrollbar-track-piece {
    background-color: #fff; /*滚动条的背景颜色*/
    -webkit-border-radius: 0; /*滚动条的圆角宽度*/
}

.description::-webkit-scrollbar-thumb:hover { /*滚动条的hover样式*/
    height: 50px;
    background-color: #9f9f9f;
    -webkit-border-radius: 4px;
}

.description .item {
    font-size: 16px;
    padding-bottom: 2px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.button {
    width: 70px;
    height: 30px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    outline: none;
    border: none;
    background-color: #00A5E0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.btn-disabled {
    cursor: default;
    background: #7bd2f1 !important;
}

.button:hover {
    background-color: #1cabde;
}

.button:active {
    background-color: #1cabde;
}

.progress-wrapper {
    margin-top: 20px;
}

.progress-bar {
    display: inline-block;
    height: 10px;
    width: 280px;
    background-color: #f5f5f5;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.progress-bg {
    position: absolute;
    display: block;
    background-color: #1890ff;
    height: 100%;
    width: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .1s cubic-bezier(.08,.82,.17,1) 0s;
}

.progress-text {
    font-size: 14px;
    color: rgba(0,0,0,.45);
    margin-left: 6px;
}


